<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>MachServices</key>
		<dict>
			<key>com.nextlinux.macsf</key>
			<true/>
		</dict>
		<key>Label</key>
		<string>com.nextlinux.macsf</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Library/NeXTLinux/MacSF/MacSF.bundle/Contents/MacOS/MacSF</string>
		</array>
		<key>RunAtLoad</key>
		<true/>
		<key>EnableTransactions</key>
		<false/>
	</dict>
</plist>
